[submodule "can"]
	path = can
	url = https://github.com/bitovi/canjs.git
[submodule "steal"]
	path = steal
	url = https://github.com/bitovi/steal.git
[submodule "jquerypp"]
	path = jquerypp
	url = https://github.com/bitovi/jquerypp.git
[submodule "canui"]
	path = canui
	url = https://github.com/bitovi/canui.git
[submodule "funcunit"]
	path = funcunit
	url = https://github.com/bitovi/funcunit.git
